<!DOCTYPE html>
<html>
  <head>
    <title>Godas</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['GEO_API_KEY'] %>&sensor=true"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-container"></div>
    <div class="root-container"><%= yield %></div>
  </body>
</html>
